.wrapper {
    margin : 8px;
    padding : 8px;
    display : flex;
    fiex-direction : row;
    border : 1px solid grey;
    border-radius : 16px;
}
.messageText{
    color : black;
    font-size : 16px;
}
